/build
/package
dist
build

.DS_Store
node_modules
test-results/
package-lock.json
yarn.lock
vite.config.js.timestamp-*

/packages/create-svelte/template/CHANGELOG.md
/packages/package/test/**/package
/documentation/types.js

.env
.env.*
!.env.example

.svelte-kit
/.svelte-kit

.test-tmp
.pnpm-debug.log

.netlify

# Do not remove
static/uploads/**
