:root {
	--color-primary: hsl(233, 78%, 59%);

	--color-text-primary: hsl(234, 45%, 12%);
	--color-text-secondary: hsl(236, 7%, 42%);

	--color-bg: hsl(0, 0%, 96%);

	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(204, 9%, 11%);

	--color-tooltip-bg: hsl(0, 0%, 33%);
}

html.dark {
	--color-primary: hsl(261, 78%, 70%);

	--color-text-primary: hsl(0, 0%, 98%);
	--color-text-secondary: hsl(236, 7%, 70%);

	--color-bg: hsl(210, 11%, 7%);

	--color-white: hsl(204, 9%, 11%);
	--color-black: hsl(0, 0%, 100%);

	--color-tooltip-bg: hsl(0, 0%, 70%);
}

/* manrope-regular - latin */
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/manrope-v12-latin/manrope-v12-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/manrope-v12-latin/manrope-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/manrope-v12-latin/manrope-v12-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/manrope-v12-latin/manrope-v12-latin-regular.woff')
			format('woff'),
		/* Modern Browsers */ url('/fonts/manrope-v12-latin/manrope-v12-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/manrope-v12-latin/manrope-v12-latin-regular.svg#Manrope')
			format('svg'); /* Legacy iOS */
	font-display: swap;
}
/* manrope-500 - latin */
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/manrope-v12-latin/manrope-v12-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/manrope-v12-latin/manrope-v12-latin-500.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/manrope-v12-latin/manrope-v12-latin-500.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/manrope-v12-latin/manrope-v12-latin-500.woff')
			format('woff'),
		/* Modern Browsers */ url('/fonts/manrope-v12-latin/manrope-v12-latin-500.ttf')
			format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/manrope-v12-latin/manrope-v12-latin-500.svg#Manrope')
			format('svg'); /* Legacy iOS */
	font-display: swap;
}
/* manrope-600 - latin */
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/manrope-v12-latin/manrope-v12-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/manrope-v12-latin/manrope-v12-latin-600.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/manrope-v12-latin/manrope-v12-latin-600.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/manrope-v12-latin/manrope-v12-latin-600.woff')
			format('woff'),
		/* Modern Browsers */ url('/fonts/manrope-v12-latin/manrope-v12-latin-600.ttf')
			format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/manrope-v12-latin/manrope-v12-latin-600.svg#Manrope')
			format('svg'); /* Legacy iOS */
	font-display: swap;
}
/* manrope-700 - latin */
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/manrope-v12-latin/manrope-v12-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('/fonts/manrope-v12-latin/manrope-v12-latin-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/manrope-v12-latin/manrope-v12-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/manrope-v12-latin/manrope-v12-latin-700.woff')
			format('woff'),
		/* Modern Browsers */ url('/fonts/manrope-v12-latin/manrope-v12-latin-700.ttf')
			format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/manrope-v12-latin/manrope-v12-latin-700.svg#Manrope')
			format('svg'); /* Legacy iOS */
	font-display: swap;
}

// Note: Sass mixins can be found in lib/styles/__mixins.scss

* {
	font-family: 'Manrope', sans-serif;
}

a {
	color: var(--color-black);
}

a:hover,
a:active,
a:focus {
	font-weight: bold;
}

a.custom-style:hover,
a.custom-style:active,
a.custom-style:focus {
	font-weight: normal;
}

body {
	padding: 0;
	margin: 0;
	color: var(--color-text-primary);
	overflow-x: hidden;
	width: 100vw;
	box-sizing: border-box;

	&.no-scroll {
		overflow-y: hidden;
	}
}
p,
li {
	color: var(--color-text-secondary);

	@media screen and (min-width: 1200px) {
		font-size: 0.9em;
	}
}

a.ellipsis {
	@media screen and (max-width: 480px) {
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}
}

ul.non-style {
	list-style: none;
	padding-left: 0;
}

button:hover {
	cursor: pointer;
}

.btn {
	padding: 1em 1.5em;
	border-radius: 2em;
	border: none;
	max-height: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9em;
	font-weight: 500;
	min-width: max-content;

	&:hover {
		cursor: pointer;
		transform: scale(1.05);
		box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
	}
}

.btn-primary {
	background-color: var(--color-primary);
	color: var(--color-white);
}

.btn-secondary {
	background-color: var(--color-white);
	color: var(--color-primary);
}

a.active > .sidebar-icon > svg > path {
	fill: var(--color-white);
}

/* Z-INDEXES */

header {
	z-index: 2;
}

.search-background-blur {
	z-index: 2;
}

.search {
	z-index: 3;
}

nav.visible {
	z-index: 4;
}

.hamburger {
	z-index: 5;
}

a.external {
	opacity: 0.7;
}
